<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="gallery">
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/lp1.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/lp2.jpeg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/lp3.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-young.webp">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-young2.jpeg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/lp1.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/lp3.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
        <a class="gallery__item" href="#">
            <img class="gallery__image" src="/images/paul-old.jpg">
        </a>
    </div>
</body>
</html>