<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Works</h1>
    <ul>
        <li>LP's</li>
        <ul>
            <li><strong>1963:</strong> Please Please Me</li>
            <li><strong>1963:</strong>With The Beatles</li>
            <li><strong>1964:</strong> Beatles For Sale</li>
            <li><strong>1965:</strong> Help!</li>
        </ul>
        <li>Singles</li>
        <ul>
            <li><strong>1962:</strong> My Bonnie/The Saints</li>
            <li><strong>1962:</strong> Love Me Do/P. S. I Love You</li>
            <li><strong>1967:</strong> Hello, Goodbye/I Am The Walrus</li>
            <li><strong>1969:</strong> Something/Come Together</li>
        </ul>
    </ul>
</body>
</html>